html {
    font-size: 100%;
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    display: grid;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-family: "Manrope", sans-serif;
    color: $veryDarkBlue;
    background-color: $lightBlue;
}

.container {
    justify-self: center;
    align-self: center;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 20.625rem;
    border-radius: 0.625rem;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.05);
    background-color: white;

    @include breakpoint-up(large) {
        width: 45.625rem;
        height: 17.5rem;
        flex-direction: row;
    }

    &__picture {
        flex: 1;

        img {
            max-width: 20.625rem;

            @include breakpoint-up(large) {
                object-fit: cover;
                object-position: left;
                min-height: 17.5rem;
                max-width: 17.5rem;
            }
        }

        @include breakpoint-up(large) {
            flex: 1 1 38.36%;
            max-width: 17.5rem;
            max-height: 17.5rem;
        }
    }

    &__description {
        flex: 1;
        padding: 2.0625rem 0 0 0;
        font-size: $font-sm;

        @include breakpoint-up(large) {
            flex: 1 1 61.64%;
            padding: 2.5rem 0 0 0;
        }

        article {
            text-align: left;
            padding: 0 2.0625rem 0 2.0625rem;

            h1 {
                margin: 0;
                font-size: $font-med;
            }

            p {
                color: $darkBlue;
            }

            @include breakpoint-up(large) {
                padding: 0 2.5rem 0 2.5rem;
            }
        }

        .user {
            display: none;
            grid-template-columns: 2.625rem auto 2.625rem;
            padding: 1rem 2.0625rem 1rem 2.0625rem;

            @include breakpoint-up(large) {
                display: grid;
                padding: 1rem 2.5rem 1rem 2.5rem;
            }

            &__photo {
                width: 2.625rem;
                height: 2.625rem;
                border-radius: 50%;
            }

            &__name {
                align-self: center;
                text-align: left;
                font-weight: 700;

                p {
                    margin: 0 0 0.25rem 1rem;
                }

                :last-child {
                    font-weight: 400;
                    color: $blue;
                }
            }

            &__iconshare {
                display: grid;

                .icon {
                    display: grid;
                    justify-self: center;
                    align-self: center;
                    width: 2.125rem;
                    height: 2.125rem;
                    border-radius: 50%;
                    background-color: $lightBlue;

                    img {
                        justify-self: center;
                        align-self: center;
                    }
                }
            }
        }

        .share {
            display: none;
            grid-template-columns: 4.0625rem 10rem 2.625rem;
            background-color: $veryDarkBlue;
            padding: 1rem 2.0625rem 1rem 2.0625rem;

            &__text {
                text-transform: uppercase;
                letter-spacing: 0.4375rem;
                color: $lightBlue;
            }

            &__images {
                align-self: center;
                justify-self: center;

                img:not(:last-child) {
                    padding-right: 1.125rem;
                }
            }

            &__iconshare {
                display: grid;

                .icon {
                    display: grid;
                    justify-self: center;
                    align-self: center;
                    width: 2.125rem;
                    height: 2.125rem;
                    border-radius: 50%;
                    background-color: $blue;

                    img {
                        justify-self: center;
                        align-self: center;
                    }
                }
            }

            @include breakpoint-up(large) {
                display: none;
                position: absolute;
                z-index: 3;
                top: 50%;
                left: 62%;
                grid-template-columns: 4.0625rem auto;
                border-radius: 10px;
                padding: 0.25rem 2.25rem 0.25rem 2.25rem;

                &__images {
                    align-self: center;
                    justify-self: center;
                    padding-left: 2rem;
                }

                &__iconshare {
                    display: none;
                }
            }

            .arrow {
                display: none;

                @include breakpoint-up(large) {
                    display: grid;
                    position: absolute;
                    z-index: 3;
                    width: 20px;
                    height: 20px;
                    top: 99%;
                    left: 50%;
                    border-top: 10px solid $veryDarkBlue;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-top-width: 10px;
                }
            }
        }

        .open{
            display: grid;
        }
    }
}
