$veryDarkBlue : hsl(217, 19%, 35%);
$darkBlue : hsl(214, 17%, 51%);
$blue : hsl(212, 23%, 69%);
$lightBlue : hsl(210, 46%, 95%);

// Font Sizes
$font-sm: 0.8125rem; // 13px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

